* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 14, 36);
}

header {
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.tittle-1 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.tittle-1 h1 {
    color: white;
}

span {
    color: red;
}

.tittle-2 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-2 ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.tittle-2 a {
    color: white;
    text-decoration: none;
    transition: 0.5s ease-in;
}

.tittle-2 a:hover {
    color: red;
}

#home {
    width: 100%;
    height: 90vh;
    display: flex;
    overflow: hidden;
}

.content-home {
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home-card {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    animation: test-1 4s;
}

@media (min-width: 1000px) {
    @keyframes test-1 {
        from {
            margin-left: -200vw;
        }

        to {
            margin-left: 0;
        }
    }

    @keyframes test-2 {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes test-3 {
        from {
            margin-right: -200vw;
        }

        to {
            margin-right: 0;
        }
    }


}


.content-home-card h1 {
    font-size: 2.5vw;
    width: 100%;
    margin-left: 3.5vw;
}

.content-home-card p {
    width: 60%;
    height: 5vh;
    margin-left: -3vw;
}

.content-home-botton {
    width: 100%;
    margin-left: 3.5vw;
}

.content-home-botton a {
    text-decoration: none;
    color: white;
}

.content-home-botton h2 {
    width: 40%;
    height: 5vh;
    background-color: red;
    font-size: 1.1vw;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.img-color {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-color h2 {
    width: 100%;
    margin-left: 3.5vw;
}

.color {
    width: 100%;
    display: flex;
    margin-left: 3.5vw;
    gap: 20px;
    margin-top: 1vh;
}

.color-content {
    width: 2vw;
    text-align: center;
    border-radius: 50%;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-1 {
    background-color: red;
}

#color-2 {
    background-color: yellow;
}

#color-3 {
    background-color: blue;
}

#color-4 {
    background-color: black;
}


.content-home-2 {
    width: 40vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-home-2 img {
    rotate: -35deg;
    width: 45vw;
    height: 50vh;
    margin-right: 5vw;
    filter: drop-shadow(0px 0px 80px rgba(255, 255, 255, 0.144));
    animation: test-2 5s;
    z-index: -1;
    margin-top: -5vh;

}

.content-home-3 {
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-3-card {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    animation: test-3 4s;
}

.card-1 {
    width: 18vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.167), rgba(0, 0, 0, 0));
    border-radius: 20px;
}

#test-1 img {
    width: 90%;
    height: 18vh;
}

#test-2 img {
    width: 90%;
    height: 22vh;
}

#test-3 img {
    width: 90%;
    height: 21vh;
}

#test-4 img {
    width: 90%;
    height: 20.5vh;
}

#page-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content-globale-1 {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tittle-page-1 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-page-1 h1 {
    font-size: 3vw;
    color: white;
    font-weight: 900;
}

.content-page-1 {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.card-1-page-1 {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: rgba(128, 128, 128, 0.361);
    border-radius: 10px;
}

.card-1-tittle {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-1-tittle h2 {
    width: 100%;
    text-align: center;
    font-size: 1.6vw;
    margin-top: 5vh;
}

.card-1-tittle h1 {
    width: 100%;
    font-size: 4.2vw;
    margin-left: 1vw;
}

.card-1-tittle h3 {
    width: 50%;
    height: 5vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    margin-left: -8vw;
}

.card-1-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1-image img {
    width: 25vw;
    rotate: -25deg;
    margin-left: -8vw;
}

.card-parent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card-2-page-1 {
    width: 100%;
    height: 50%;
    display: flex;
    background-color: rgba(128, 128, 128, 0.361);
    border-radius: 10px;
}

.card-2-tittle {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 1vw;
    margin-top: 3vh;
}

.card-2-tittle h1 {
    width: 100%;
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
}

.card-2-tittle h2 {
    width: 50%;
    height: 5vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 1.2vw;
    margin-left: -8vw;
}

.card-2-image {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-2-image img {
    width: 18vw;
    margin-left: -5vw;
}

.card-3-page-1 {
    width: 100%;
    height: 45%;
    display: flex;
    gap: 20px;
}

.card-3-1 {
    width: 50%;
    height: 25vh;
    background-color: rgba(128, 128, 128, 0.361);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-3-1 h1 {
    width: 100%;
    text-align: center;
    margin-top: 1vh;
}

.card-3-1 img {
    width: 12vw;
}

.card-3-1 h2 {
    width: 100%;
    height: 20%;
    text-align: center;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    color: white;
    font-size: 1.2vw;
    margin-top: -2vh;
}

#page-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-globale-2 {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tittle-page-2 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-page-2 h1 {
    font-size: 3vw;
    color: white;
    font-weight: 900;
}

.page-2-card {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-page-2 {
    width: 20vw;
    height: 50vh;
    background-color: rgba(128, 128, 128, 0.158);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: 0.5s ease-in;
}

.card-page-2:hover {
    box-shadow: 0px 0px 20px red;
}

.content-card-page-2 {
    width: 100%;
    margin-left: 2vw;
    color: white;
    margin-top: 2vh;
}

.content-card-page-2 img {
    width: 14vw;
    rotate: -23deg;
    margin-left: 0;
    transition: 0.5s ease-in;
}

.card-page-2:hover {
    img {
        rotate: 0deg;
        transform: scale(1.3);
    }

}

.icon {
    width: 25%;
    height: 100%;
    background-color: red;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 10px 0px;
    font-size: 1.5vw;
}

#page-3 {
    width: 100%;
    height: 100vh;
    display: flex;
}

.content-1-page-3 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-1 {
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.content-1 h3 {
    font-size: 1.8vw;
    color: red;
    width: 100%;
}

.content-1 h1 {
    width: 100%;
    font-size: 3vw;
}

.content-1 span {
    color: red;
}

.icon-2 {
    background-color: red;
    width: 40%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 1vw;
}

.content-1 h2 {
    font-size: 1.3vw;
}

.content-2-page-3 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.content-2-page-3 img {
    width: 35vw;
    rotate: -25deg;
    filter: drop-shadow(0px 0px 80px rgba(255, 255, 255, 0.144));
}

#page-4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-footer {
    width: 90%;
    height: 40%;
    display: flex;
    border-bottom: 3px solid white;
    color: white;
}

.footer-tittle {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-link {
    width: 40%;
    height: 100%;
}

.tittle-3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittle-3 ul {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.tittle-3 a {
    color: white;
    text-decoration: none;
    transition: 0.5s ease-in;
    font-size: 1.2vw;
}

.tittle-2 a:hover {
    color: red;
}


.footer-info {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.footer-info a {
    font-size: 2.5vw;
    color: white;
}

.div_asel {
    width: 5%;
    height: 5vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    display: none;
}

@media (max-width: 500px) {
    header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }

    .tittle-1 {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tittle-1 h1 {
        color: white;
    }

    span {
        color: red;
    }

    .tittle-2 {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tittle-2 ul {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    .tittle-2 a {
        color: white;
        text-decoration: none;
        transition: 0.5s ease-in;
    }

    .tittle-2 a:hover {
        color: red;
    }

    #home {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        margin-top: 5vh;
    }

    .content-home {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-home-card {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        animation: test-1 4s;
    }


    .content-home-card h1 {
        font-size: 11vw;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .content-home-card p {
        width: 80%;
        height: 5vh;
        margin-left: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }

    .content-home-botton {
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-home-botton a {
        text-decoration: none;
        color: white;
        width: 100%;
    }

    .content-home-botton h2 {
        width: 30%;
        height: 5vh;
        background-color: red;
        font-size: 4vw;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        margin-left: auto;
        margin-right: auto;
    }

    .img-color {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 2vh;
    }

    .img-color h2 {
        width: 100%;
        font-size: 8vw;
        margin-left: 0;
        text-align: center;
        display: none;
    }

    .color {
        width: 100%;
        display: flex;
        margin-left: 0;
        gap: 20px;
        margin-top: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .color-content {
        width: 8vw;
        height: 4.5vh;
        text-align: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #color-1 {
        background-color: red;
    }

    #color-2 {
        background-color: yellow;
    }

    #color-3 {
        background-color: blue;
    }

    #color-4 {
        background-color: black;
    }


    .content-home-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .content-home-2 img {
        rotate: -35deg;
        width: 100%;
        height: 100%;
        margin-right: 0;
        filter: drop-shadow(0px 0px 80px rgba(255, 255, 255, 0.144));
        animation: test-2 5s;
        z-index: 1;
        margin-top: 0;
        margin-left: -15vw;
    }

    .content-home-3 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
    }

    .home-3-card {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        animation: test-3 4s;
    }


    .card-1 {
        width: 50vw;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.285), rgba(0, 0, 0, 0));
        border-radius: 20px;
    }

    #test-1 img {
        width: 100%;
        height: 18vh;
    }

    #test-2 img {
        width: 100%;
        height: 22vh;
    }

    #test-3 img {
        width: 100%;
        height: 21vh;
    }

    #test-4 img {
        width: 100%;
        height: 20.5vh;
    }

    #page-1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5vh;
    }

    .content-globale-1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .tittle-page-1 {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tittle-page-1 h1 {
        font-size: 11vw;
        color: white;
        font-weight: 900;
        width: 100%;
        text-align: center;
    }

    .content-page-1 {
        width: 70%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: white;
        flex-wrap: wrap;
        margin-top: 5vh;
    }

    .card-1-page-1 {
        width: 100%;
        height: 60%;
        display: flex;
        background-color: rgba(128, 128, 128, 0.361);
        border-radius: 10px;
        flex-wrap: wrap;
    }

    .card-1-tittle {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card-1-tittle h2 {
        width: 100%;
        text-align: center;
        font-size: 4vw;
        margin-top: 5vh;
    }

    .card-1-tittle h1 {
        width: 100%;
        font-size: 8vw;
        margin-left: 0;
        text-align: center;
        margin-top: 1vh;
    }

    .card-1-tittle h3 {
        width: 50%;
        height: 5vh;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 4vw;
        margin-top: 1vh;
    }

    .card-1-image {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-1-image img {
        width: 70vw;
        rotate: -25deg;
        margin-left: -5vw;
    }

    .card-parent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .card-2-page-1 {
        width: 100%;
        height: 60%;
        display: flex;
        background-color: rgba(128, 128, 128, 0.361);
        border-radius: 10px;
        flex-wrap: wrap;
    }

    .card-2-tittle {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 1vw;
        margin-top: 3vh;
    }

    .card-2-tittle h1 {
        width: 100%;
        font-size: 7vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .card-2-tittle p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 1vh;
    }

    .card-2-tittle h2 {
        width: 50%;
        height: 5vh;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 4vw;
        margin-top: 1vh;
    }

    .card-2-image {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-2-image img {
        width: 50vw;
        margin-left: 0;
        margin-top: 0;
    }

    .card-3-page-1 {
        width: 100%;
        height: 45%;
        display: flex;
        gap: 20px;
    }

    .card-3-1 {
        width: 50%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.361);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card-3-1 h1 {
        width: 100%;
        text-align: center;
        margin-top: 1vh;
        font-size: 7vw;
    }

    .card-3-1 img {
        width: 30vw;
    }

    .card-3-1 h2 {
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: rgb(255, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 0px 10px 10px;
        color: white;
        font-size: 4vw;
        margin-top: 0;
    }

    #page-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .content-globale-2 {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .tittle-page-2 {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .tittle-page-2 h1 {
        font-size: 11vw;
        color: white;
        font-weight: 900;
    }

    .page-2-card {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .card-page-2 {
        width: 80%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.158);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 10px;
        transition: 0.5s ease-in;
    }

    .card-page-2:hover {
        box-shadow: 0px 0px 20px red;
    }

    .content-card-page-2 {
        width: 100%;
        margin-left: 2vw;
        color: white;
        margin-top: 2vh;
    }

    .content-card-page-2 img {
        width: 45vw;
        rotate: -23deg;
        margin-left: 5vw;
        transition: 0.5s ease-in;
    }

    .content-card-page-2 h3 {
        width: 100%;
        font-size: 5vw;
        text-align: center;
    }

    .content-card-page-2 h2 {
        width: 100%;
        text-align: center;

    }


    .card-page-2:hover {
        img {
            rotate: 0deg;
            transform: scale(1.3);
        }

    }

    .icon {
        width: 25%;
        height: 100%;
        background-color: red;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px 0px 10px 0px;
        font-size: 7vw;
    }

    #page-3 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        flex-wrap: wrap;
    }

    .content-1-page-3 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-1 {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        color: white;
    }

    .content-1 h3 {
        font-size: 5vw;
        color: red;
        width: 100%;
        text-align: center;
        margin-top: 2vh;
    }

    .content-1 h1 {
        width: 100%;
        font-size: 11vw;
        text-align: center;
        margin-top: 2vh;
    }

    .content-1 span {
        color: red;
    }

    .content-1 p {
        width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
    }

    .icon-2 {
        background-color: red;
        width: 40%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right: 1vw;
        margin-left: 10vw;
    }

    .content-1 h2 {
        font-size: 4vw;
        margin-top: 2vh;
    }

    .content-1 h4 {
        margin-top: 2vh;
    }

    .content-2-page-3 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 5vh;
    }

    .content-2-page-3 img {
        width: 80vw;
        rotate: -25deg;
        filter: drop-shadow(0px 0px 80px rgba(255, 255, 255, 0.144));
    }

    #page-4 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }
    footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4vh;
    }
    
    .content-footer {
        width: 70%;
        height: 80%;
        display: flex;
        border-bottom: 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-top: 2px solid white;
    }
    
    .footer-tittle {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1vh;
        margin-top: 1vh;
    }
    .footer-tittle h1{
        font-size: 10vw;
    }
    
    .footer-link {
        width: 100%;
        height: 100%;
    }
    
    .tittle-3 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }
    
    .tittle-3 ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }
    
    .tittle-3 a {
        color: white;
        text-decoration: none;
        transition: 0.5s ease-in;
        font-size: 1.2vw;
    }
    
    .tittle-2 a:hover {
        color: red;
    }
    
    
    .footer-info {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .footer-info a {
        font-size: 7vw;
        color: white;
    }

}